# Eclipse
.metadata/
.classpath
.project
.settings/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Logs
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.properties
application-local.yml
